<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnMap</title>
    {% if user and not user.is_anonymous %}
        <a>Hello, {{ user.get_full_name }}!</a>
        <br>
        <a href="/logout">Logout</a>
    {% else %}
        <div align="center">
        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
        <a href="{% url 'social:begin' 'google' %}?next={{ request.path }}">Login with Google</a>
        <a href="{% url 'social:begin' 'vk' %}?next={{ request.path }}">Login with VK</a>
        </div>
    {% endif %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>